{% extends 'base.html' %}
{% block content %}
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for cart_item in cart_items %}
                    <tr data-cart-item-id="{{ cart_item.id }}">
                        <td class="align-middle"><img src="{{ cart_item.product.product_image.url }}" alt="" style="width: 50px;"> {{ cart_item.product.name }}</td>
                        <td class="align-middle item-price">Rs: {{ cart_item.product.dis_price|floatformat:2 }}</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" data-cart-item-id="{{ cart_item.id }}">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center item-quantity" value="{{ cart_item.quantity }}">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus" data-cart-item-id="{{ cart_item.id }}">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle item-total">Rs:{{ cart_item.total|floatformat:2 }}</td>
                        <td class="align-middle">
                            <button class="btn btn-sm btn-danger btn-remove" data-cart-item-id="{{ cart_item.id }}">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Cart Summary</span>
            </h5>
            <form method="POST" enctype="multipart/form-data" action="{% url 'cart_view' %}"
            onsubmit="document.getElementById('cart-total-input').value = document.getElementById('cart-total').innerText;">
                {% csrf_token %}
            <div class="bg-light p-30 mb-5">
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5 style="margin-right: -60%;">Rs: </h5>
                        <h5 id="cart-total">0.00</h5>
                    </div>
                    <input type="hidden" name="total_amount" id="cart-total-input">
                    <button class="btn btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Proceed To Checkout</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endblock %}